{{log 'kreatur-sheet' this}}
<form class="{{cssClass}} kreatur-sheet">
    <header class="sheet-header kreatur-header">
        <div style="display: flex; justify-content: space-between">
            <div class="header-fields">
                <input
                    class="titel-input"
                    style=""
                    name="name"
                    type="text"
                    value="{{actor.name}}"
                    placeholder="Name"
                />
                <textarea rows="2" name="data.kurzbeschreibung" type="text">
{{actor.system.kurzbeschreibung}}</textarea
                >
            </div>
            <img
                class="profile-img"
                src="{{actor.img}}"
                data-edit="img"
                title="{{actor.name}}"
                height="100"
                width="100"
            />
        </div>
    </header>
    <div style="clear: both"></div>

    <div class="sheet-body">
        <div class="status statblockreihe">
            <div class="flexrow">
                <div class="flexcol">
                    <div class="flexrow">
                        <label class="flex1">Wunden/Erschöpft: </label>
                        <div class="flex1">
                            <input
                                class="hp-update"
                                name="system.gesundheit.wunden"
                                type="text"
                                value="{{actor.system.gesundheit.wunden}}"
                                data-dtype="Number"
                            />/
                            <input
                                class="hp-update"
                                name="system.gesundheit.erschoepfung"
                                type="text"
                                value="{{actor.system.gesundheit.erschoepfung}}"
                                data-dtype="Number"
                            />
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol">
                            <div class="flexrow">
                                <label class="flex1">AsP*/AsP: </label>
                                <div class="flex1">
                                    <input
                                        class="hp-update"
                                        name="system.energien.asp.value"
                                        type="text"
                                        value="{{actor.system.energien.asp.value}}"
                                        data-dtype="Number"
                                    />/
                                    <input
                                        class="hp-update"
                                        name="system.energien.asp.max"
                                        type="text"
                                        value="{{actor.system.energien.asp.max}}"
                                        data-dtype="Number"
                                    />
                                </div>
                            </div>
                            <div class="flexrow">
                                <label class="flex1">KaP*/KaP: </label>
                                <div class="flex1">
                                    <input
                                        class="hp-update"
                                        name="system.energien.kap.value"
                                        type="text"
                                        value="{{actor.system.energien.kap.value}}"
                                        data-dtype="Number"
                                    />/
                                    <input
                                        class="hp-update"
                                        name="system.energien.kap.max"
                                        type="text"
                                        value="{{actor.system.energien.kap.max}}"
                                        data-dtype="Number"
                                    />
                                </div>
                            </div>
                            <div class="flexrow">
                                <label class="flex1">GuP*/GuP: </label>
                                <div class="flex1">
                                    <input
                                        class="flex0 hp-update"
                                        name="system.energien.gup.value"
                                        type="text"
                                        value="{{actor.system.energien.gup.value}}"
                                        data-dtype="Number"
                                    />/
                                    <input
                                        class="flex0 hp-update"
                                        name="system.energien.gup.max"
                                        type="text"
                                        value="{{actor.system.energien.gup.max}}"
                                        data-dtype="Number"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flexcol">
                    <div>
                        <label
                            style="{{#if actor.system.gesundheit.wundenignorieren }}text-decoration:line-through;{{/if}}"
                            >{{actor.system.gesundheit.display}}</label
                        >
                        <a
                            class="icon-small toggle-bool {{actor.system.gesundheit.wundenignorieren}}"
                            data-togglevariable="system.gesundheit.wundenignorieren"
                            title="tooltip_text"
                        >
                            {{#if actor.system.gesundheit.wundenignorieren}} aktivieren {{else}}
                            ignorieren {{/if}}
                        </a>
                    </div>
                    <label>{{actor.system.furcht.display}}</label>
                    <div class="flexrow">
                        <input
                            class="flex0"
                            name="system.modifikatoren.manuellermod"
                            value="{{actor.system.modifikatoren.manuellermod}}"
                            type="text"
                            data-dtype="Number"
                        />
                        <label>auf alle Proben (Manuell) </label>
                    </div>
                    <hr
                        style="
                            width: 100%;
                            padding-top: 1px;
                            padding-bottom: 1px;
                            margin-top: 1px;
                            margin-bottom: 1px;
                            border-top: 1px solid darkred;
                            border-bottom: 0px;
                        "
                    />
                    <div class="flexrow">
                        <b
                            ><label style="color: {{modColor actor.system.abgeleitete.globalermod}}"
                                >{{actor.system.abgeleitete.globalermoddisplay}}</label
                            ></b
                        >
                    </div>
                </div>
            </div>
        </div>

        {{#if actor.eigenschaften}}
        <div class="eigenschaften statblockreihe">
            <b>Eigenschaften: </b>
            {{#each actor.eigenschaften as |eigenschaft|}}
            <a class="item-edit" data-itemid="{{eigenschaft.id}}">{{eigenschaft.name}}, </a>
            {{/each}}
        </div>
        {{/if}} {{#if actor.vorteile}}
        <div class="vorteile statblockreihe">
            <b>Vorteile: </b>
            {{#each actor.vorteile as |vorteil|}}
            <a class="item-edit" data-itemid="{{vorteil.id}}">{{vorteil.name}}</a>, {{/each}}
        </div>
        {{/if}} {{#if actor.system.attribute}}
        <div class="attribute statblockreihe">
            <div class="flexrow">
                {{#each actor.system.attribute as |attribut key|}} <div class="attributblock flex1
                flex-group-center" {{#if (ifEq attribut.pw 0)}} style="opacity: 0.4;" {{/if}} >
                <b>{{key}}</b>
                <input
                    name="system.attribute.{{key}}.pw"
                    type="text"
                    value="{{attribut.pw}}"
                    data-dtype="Number"
                    style="width: 30px"
                />
                <a
                    class="rollable icon-small"
                    data-rolltype="attribut_diag"
                    data-attribut="{{key}}"
                >
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}} {{#if actor.system.kampfwerte}}
    <div class="kampfwerte statblockreihe">
        {{#if actor.system.modifikatoren.nahkampfmod}}
        <div class="flexrow" style="float: right">
            <b
                ><label style="color: {{modColor actor.system.modifikatoren.nahkampfmod}}"
                    >{{actor.system.abgeleitete.nahkampfmoddisplay}}</label
                ></b
            >
        </div>
        {{/if}}
        <div class="flexrow">
            {{#each actor.system.kampfwerte as |obj key|}} <div class="attributblock flex1
            flex-group-center" {{#if (ifEq obj 0)}} style="opacity: 0.4;" {{/if}} >
            <b>{{get_stat_short key}}</b>
            <input
                name="system.kampfwerte.{{key}}"
                type="text"
                value="{{obj}}"
                data-dtype="Number"
                style="width: 30px"
            />
            {{#if (ifEq key 'mr')}}
            <a
                class="rollable icon-small"
                data-rolltype="simpleprobe_diag"
                data-probentyp=""
                data-name="Magieresistenz"
                data-pw="{{obj}}"
                ><i class="fas fa-dice-d20"></i
            ></a>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <!-- </div> -->
    {{/if}} {{#if actor.angriffe}}
    <div class="angriffe statblockreihe">
        <b>Angriffe: </b>
        {{#each actor.angriffe as |angriff key|}}
        <div class="flexrow">
            <a
                class="rollable icon-small"
                data-rolltype="angriff_diag"
                data-itemid="{{angriff.id}}"
            >
                <i class="fas fa-dice-d20"></i>
            </a>

            <label
                ><b
                    ><a class="item-edit" data-itemid="{{angriff.id}}">{{angriff.name}} </a></b
                ></label
            >
            {{#if (waffe_ist_fernkampf angriff) }}
            <label> LZ: {{angriff.system.lz}} </label>
            {{/if}}
            <label>RW: {{angriff.system.rw}}</label>
            AT<label
                class="rollable onhover"
                data-rolltype="at"
                data-pw="{{angriff.system.at}}"
                data-item="{{angriff.name}}"
                data-itemid="{{angriff.id}}"
                >: {{angriff.system.at}}</label
            >
            VT<label
                class="rollable onhover"
                data-rolltype="vt"
                data-pw="{{angriff.system.vt}}"
                data-item="{{angriff.name}}"
                data-itemid="{{angriff.id}}"
                >: {{angriff.system.vt}}</label
            >
            TP<label>
                <a
                    class="rollable icon-small"
                    data-rolltype="basic"
                    data-formula="{{translate_formula angriff.system.tp}}"
                    data-label="Schaden ({{angriff.name}})"
                    >: {{angriff.system.tp}}</a
                >
            </label>
        </div>
        <div>
            <label>
                {{#each angriff.system.eigenschaften as |eig|}}
                <span>{{eig.name}}, </span>
                {{/each}}
            </label>
        </div>
        {{/each}}
    </div>
    {{/if}} {{#if (isCaster actor)}}
    <div class="freietalente statblockreihe">
        <b>Übernatürliche Fertigkeiten: </b>
        {{#each actor.uebernatuerlich.fertigkeiten as |freiestalent key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{freiestalent.id}}">{{freiestalent.name}} </a> (
                <label
                    class="rollable onhover"
                    data-rolltype="profan_fertigkeit_pw"
                    data-fertigkeit="{{freiestalent.name}}"
                    data-pw="{{freiestalent.system.pw}}"
                    >{{freiestalent.system.pw}}</label
                >
                <a
                    class="rollable icon-small"
                    data-rolltype="simpleprobe_diag"
                    data-name="{{freiestalent.name}}"
                    data-pw="{{freiestalent.system.pw}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ),
            </label>
        </label>
        {{/each}}
    </div>

    <div class="freietalente statblockreihe">
        <b>Zauber/Liturgien/Anrufungen: </b>
        {{#each actor.uebernatuerlich.zauber as |zauber key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{zauber.id}}">{{zauber.name}} </a> (
                <label
                    class="rollable onhover"
                    data-rolltype="profan_fertigkeit_pw"
                    data-fertigkeit="{{zauber.name}}"
                    data-pw="{{zauber.system.pw}}"
                    >{{zauber.system.pw}}</label
                >
                <a
                    class="rollable icon-small"
                    data-rolltype="magie_diag"
                    data-itemid="{{zauber.id}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ),
            </label>
        </label>
        {{/each}} {{#each actor.uebernatuerlich.liturgien as |liturgie key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{liturgie.id}}">{{liturgie.name}} </a> (
                <label
                    class="rollable onhover"
                    data-rolltype="profan_fertigkeit_pw"
                    data-fertigkeit="{{liturgie.name}}"
                    data-pw="{{liturgie.system.pw}}"
                    >{{liturgie.system.pw}}</label
                >
                <a
                    class="rollable icon-small"
                    data-rolltype="karma_diag"
                    data-itemid="{{liturgie.id}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ),
            </label>
        </label>
        {{/each}} {{#each actor.uebernatuerlich.anrufungen as |anrufung key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{anrufung.id}}">{{anrufung.name}} </a> (
                <label
                    class="rollable onhover"
                    data-rolltype="profan_fertigkeit_pw"
                    data-fertigkeit="{{anrufung.name}}"
                    data-pw="{{anrufung.system.pw}}"
                    >{{anrufung.system.pw}}</label
                >
                <a
                    class="rollable icon-small"
                    data-rolltype="magie_diag"
                    data-itemid="{{anrufung.id}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ),
            </label>
        </label>
        {{/each}}
    </div>
    {{/if}} {{#if actor.freietalente}}
    <div class="freietalente statblockreihe">
        <b>Fertigkeiten: </b>
        {{#each actor.freietalente as |freiestalent key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{freiestalent.id}}">{{freiestalent.name}} </a> (
                <label
                    class="rollable onhover"
                    data-rolltype="profan_fertigkeit_pw"
                    data-fertigkeit="{{freiestalent.name}}"
                    data-pw="{{freiestalent.system.pw}}"
                    >{{freiestalent.system.pw}}</label
                >
                <a
                    class="rollable icon-small"
                    data-rolltype="simpleprobe_diag"
                    data-name="{{freiestalent.name}}"
                    data-pw="{{freiestalent.system.pw}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ),
            </label>
        </label>
        {{/each}}
    </div>
    {{/if}}

    <div class="freietalente statblockreihe">
        <b>Zauber</b><a class="item-create plus-button" data-itemclass="zauber">[+]</a><b>: </b
        ><br />
        {{#each actor.uebernatuerlich.zauber as |zauber key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{zauber.id}}">{{zauber.name}} </a> (
                <label
                    class="rollable onhover"
                    data-rolltype="profan_fertigkeit_pw"
                    data-fertigkeit="{{zauber.name}}"
                    data-pw="{{zauber.system.pw}}"
                    >{{zauber.system.pw}}</label
                >
                <a
                    class="rollable icon-small"
                    data-rolltype="magie_diag"
                    data-itemid="{{zauber.id}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ),
            </label>
        </label>
        {{/each}}
    </div>

    <div class="freietalente statblockreihe">
        <b>Liturgien</b><a class="item-create plus-button" data-itemclass="liturgie">[+]</a><b>: </b
        ><br />
        {{#each actor.uebernatuerlich.liturgien as |liturgie key|}}
        <label>
            <label>
                <a class="item-edit" data-itemid="{{liturgie.id}}">{{liturgie.name}} </a> (
                <label
                    class="rollable onhover"
                    data-rolltype="profan_fertigkeit_pw"
                    data-fertigkeit="{{liturgie.name}}"
                    data-pw="{{liturgie.system.pw}}"
                    >{{liturgie.system.pw}}</label
                >
                <a
                    class="rollable icon-small"
                    data-rolltype="magie_diag"
                    data-itemid="{{liturgie.id}}"
                    ><i class="fas fa-dice-d20"></i
                ></a>
                ),
            </label>
        </label>
        {{/each}}
    </div>

    {{#if actor.infos}}
    <div class="infos statblockreihe">
        {{#each actor.infos as |info|}}
        <div class="hangingindent">
            <b><a class="item-edit" data-itemid="{{info.id}}">{{info.name}}</a>:</b>
            {{info.system.text}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    <div class="form-group select">
        <select name="system.additemtype" style="max-width: 150px">
            {{selectOptions actor.kreaturItemOptions selected=actor.system.additemtype}}
        </select>
        <button
            style="max-width: 150px"
            class="item-create"
            data-itemclass="{{actor.system.additemtype}}"
            type="button"
        >
            Hinzufügen
        </button>
    </div>
    <!-- </div> -->
</form>
